.ImageWallBox{
    width: 70.5vw;
    height: 37.5vw;
    margin: 1vw;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.1vw #186839;
    background-color: #21a056;
}

.image {
    width: 20vw;
    height: 15vw;
    padding: 1.5vw;
    cursor: pointer;
    transition: 0.3s;
}

.image:hover {
    width: 21vw;
    height: 16vw;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw #186839;
    transition: 0.3s;
}