.favouriteBox{
    margin-left: 1%;
    margin-top: 1vw;
    width: 25vw;
    height: 37.5vw;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.1vw #186839;
    background-color: #21a056;
}

.favTitle{
    text-align: center;
}

.favPic{
    width: 6vw;
    height:5vw;
    cursor: pointer;
    transition: 0.2s;
}

.favPic:hover{
    width: 5.5vw;
    height:4.5vw;
    margin: 0.2vw;
    cursor: pointer;
    transition: 0.2s;
}

.FavItem {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 5vw;
    border: 0.2vw solid black;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

.fa-edit {
    font-size: 2vw;
    margin-top: 1vw;
    margin-left: 2.5vw;
    color: #0652DD;
    cursor: pointer;
    transition: 0.2s;
}

.fa-edit:hover{
    color: rgb(7, 59, 156);
    transition: 0.2s;
}

.fa-trash-alt {
    font-size: 2vw;
    margin-top: 1vw;
    margin-left: 1vw;
    color: #d11a2a;
    cursor: pointer;
    transition: 0.2s;
}

.fa-trash-alt:hover {
    color: #8a121c;
    transition: 0.2s;
}

.DescBox{
    margin-top: 1vw;
    font-size: 1vw;

}